::-webkit-scrollbar-track {
	background-color: #FFDEAD;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color:#e5bd7f;
	background-image:url('https://yraaa.ru/_pu/24/59610063.png');
	background-position:center;
	background-repeat:no-repeat;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:7px;
	height:0px;
}

::-webkit-scrollbar{
	width: 11px;
	height: 11px;
}

p, h2 {
	margin: 7px 0;
}
td {
	padding: 0;
}
#main {
	width: 800px;
	margin-right: auto !important;
	margin-left: auto !important;
}
#color div, #area td, .tabledetail div {
	width: 30px;
	height: 30px;
	border-radius: 40%;
	box-sizing: border-box;
	margin: 1px;
}
#area td{
	border-radius: 5px;
	margin: 0;
}
#area {
	border-collapse: separate;
	border-spacing: 0 1px;
}
.tabledetail div {
	width: 33px;
	height: 33px;
	box-sizing: content-box;
}
.tabledetail td {
	vertical-align: middle;
	text-align: center;
}
.potent_sel {
	border: 1px black solid;
}
.sel, .selected_block, .selected_colour, .selected_field {
	font-weight: bold;
	border-color: red;
	border-width: 0;
	border-style: solid;
}
.field_palette {
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
}
#lock {
	cursor: pointer;
}
#confirm {
	background: #AD8446;
	/*width: 400px;*/
	min-height: 72px;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;
}
.a_none, #moveup, #movedown, .a_none:hover, #moveup:hover, #movedown:hover {
	text-decoration: none;
	color: black;
}
.a_none {
	font-weight: bold;
	font-size: 20px;
}
.tdarrow {
	width: 8px;
}
.td_x {
	width: 17px;
}
td.td_plus {
	text-align: left;
	padding-left: 5px;
}
.detailslist {
	border: 0;
	/*width: 125px;*/
	height: 300px;
	overflow-y: auto;
}
input {
	vertical-align: middle;
}

#color label {
	margin-top: 17px;
	width: 100%;
}
#opacity_range {
	width: 200px;
	display: inline-block;
}
#opacity_value {
	margin-left: 4px;
}

.row, .row-cat, .row-detail, .row-color, .container-panel, .elem-row {
	display: -webkit-flex;
	display: flex;
	overflow-y: auto;
	overflow-y: overlay;
}
.cat_dis {
	position: relative;
	width: 100%;
}
.cat_dis > * {
	position: absolute;
	width: 100%;
}
#field{
	min-width: 300px;
	width: 370px;
	height: 312px;
	border: 6px solid #000;
	justify-content: space-between;
	box-sizing: border-box;
}
#detail{
	height: 312px;
	max-width: 240px;
}
#blocks{
	height: 312px;
	overflow-y: auto;
	width: 150px;
	min-width: 150px;
	border: 1px solid black;
	padding: 5px; /* Поля вокруг текста */
	background-color: #FFE4C4;
	box-sizing: border-box;
}
#container {
	width: 100px;
	height: 100px;
	position: relative;
}
#navi,
#infoi {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#infoi {
	z-index: 10;
}
.btn-kns{
	border: 1px solid black;
	background: transparent;
	text-align: center;
	border-radius: .25rem;
	line-height: 1.5;
	font-size: 1rem;
}
.output-code{
	border: 1px solid black;
	border-radius: 0.25rem;
	line-height: 1.5rem;
	padding-left: 5px;
	margin: 10px;
	margin-right: 2px;
}

.copy{
	border: 0px none;
	color: transparent;
	width: 25px;
	background: url(copy.png) no-repeat;
}

.input-code{
	border: 1px solid black;
	background: transparent;
	text-align: center;
	width: 100%;
}

.icon{
	width: 33px; height: 33px; border-radius: 5px; margin: 2px;
}
.info{
	margin-top: 10px;
}
/*children row*/
.cat{
	min-width: 270px;
}
.row-color{
	margin: 10px 0px;
	page-break-after: always;
	/*flex-basis: 800px;*/
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.elem-row{
	align-content: flex-start;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: auto;

}
.row-column{
	flex-direction: column;
	min-width: 70px;
	overflow-y: auto;
	overflow-y: overlay;
}
.row-detail{
	align-content: flex-start;
}
.row{
	flex-wrap: wrap;
}

/*lib*/
.modal-content{
	background-color: #c1a982 !important;
}
.row-modal{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: left;
}

.lib-group-elem{
	margin: auto;
}

.lib-elem{
	margin-right: 2%;
	margin-top: 2%;
	border: 3px solid;
}

.caption-elem-lib{
	margin: 3px;
	text-align: center;
}
@media (max-width: 900px){
	#main{
		width: auto;
	}
}

@media (max-width: 360px) {
	#field {
		height: 170px;
	}
	#detail, #blocks {
		height: 250px;
	}
	::-webkit-scrollbar{
		width: 5px;
		height: 5px;
	}
}

@media (max-width: 740px){
	.row{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		width: auto;
	}
	#detail{
		-webkit-order: 4;
		width: 60%;
		max-width:500px;
	}
	#blocks{
		-webkit-order: 3;
		width: 40%;
		min-width: 0;
	}
	#field{
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		max-width: calc(100% + 16px);
		min-width: calc(100% + 16px);
		width: calc(100% + 16px);
		margin-left: -8px;
		-webkit-order: 1;
	}
	.row-color{
		width: 100%;
		-webkit-order:2;
	}
	#confirm {
		width: 100%;
	}
	.output-code{
		width: 50%;
	}
	.row-modal{
		justify-content: center;
	}
	@media(max-width: 345px){
		#detail{
			width: 65%;
		}
		#blocks{
			width: 35%;
			min-width: 0;
		}
		.cat {
			min-width: 0;
			overflow: auto;
			max-width: 100%;
			position: relative;
		}
	}
}

/*sliders*/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #d19405;
    height: 18px;
    width: 18px;
    border-radius: 8px;
    background: #fece2f;
    cursor: pointer;
    margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 1px solid #d19405;
    height: 18px;
    width: 18px;
    border-radius: 8px;
    background: #fece2f;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 1px solid #d19405;
    height: 18px;
    width: 18px;
    border-radius: 8px;
    background: #fece2f;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #feeebd;
    border-radius: 8px;
    border: 1px solid #8e846b;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #feeebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #feeebd;
    border-radius: 8px;
    border: 1px solid #8e846b;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #feeebd;
    border: 1px solid #8e846b;
    border-radius: 8px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #feeebd;
}
input[type=range]::-ms-fill-upper {
    background: #feeebd;
    border: 1px solid #8e846b;
    border-radius: 8px;
}
input[type=range]:focus::-ms-fill-upper {
    background: #feeebd;
}